<div ng-if="vm.cart !== null">
    <div class="basic-info">
        <span>Thông tin đơn hàng</span>&nbsp;
        <strong>{{vm.cart.id}}</strong>
    </div>
    <div>
        <div class="col-md-6">
            <div class="pad">
                <div class="form-group row">
                    <label class="control-label text-normal col-sm-4">Tên khách hàng: </label>
                    <span>{{vm.cart.customer.fullName}}</span>
                </div>
                <div class="form-group row">
                    <label class="control-label text-normal col-sm-4">Email</label>
                    <span>{{vm.cart.customer.email}}</span>
                </div>

                <div class="form-group row">
                    <label class="control-label text-normal col-sm-4">Địa chỉ</label>
                    <span>{{vm.cart.customer.address}}</span>
                </div>
                <div class="form-group row">
                    <label class="control-label text-normal col-sm-4">Điện thoại</label>
                    <span>{{vm.cart.customer.phone}}</span>
                </div>
            </div>
            <div style="padding: 0 10px">
                <div>
                    <input type="radio" checked="true" disabled/>
                    <span>Thanh toán khi nhận hàng</span>
                </div>
                <div>
                        <span style="color: #a09a9a">(*)Lưu ý thời gian giao hàng phụ thuộc vào thời gian Gian hàng xử lý đơn, có thể chậm hơn thông
                        báo tối đa 24h.</span>
                </div>
            </div>

        </div>
        <div class="col-md-6 table-responsive" style="padding-right: 5px"
             ng-if="vm.cart.lstOrderProduct.length > 0">
            <table class="table table-hover">
                <thead>
                <th>Sản phẩm</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Số lượng</th>
                </thead>
                <tbody>
                <tr ng-repeat="orderDetail in vm.cart.lstOrderProduct track by $index">
                    <td class="ver-center">
                        <div style=" padding: 10px 0;">
                            <img src="{{orderDetail.product.photo}}" class="img-responsive img-delivery"/>
                        </div>
                    </td>
                    <td class="ver-center">
                        <span ng-class="{'text-line-through': detail.product.valid}">{{orderDetail.product.name}}</span>
                    </td>
                    <td class="ver-center">
                        <span>{{orderDetail.sale | money}}</span>
                    </td>
                    <td class="ver-center">
                        <div class="row col-md-5">
                            <span>{{orderDetail.quantity}}</span>
                        </div>
                    </td>
                </tr>
                <tr class="hidden-xs">
                    <td colspan="4" class="no-border">
                        <span class="order-info">Thông tin đơn hàng</span>
                    </td>
                </tr>
                <tr class="hidden-xs">
                    <td colspan="2">
                        <span>Tổng số tiền</span>
                    </td>
                    <td colspan="2">
                        <span class="pull-right">{{vm.cart.totalAmount | money}}</span>
                    </td>
                </tr>
                <tr class="hidden-xs">
                    <td colspan="2">
                        <span>Trạng thái</span>
                    </td>
                    <td colspan="2">
                        <span class="pull-right">{{vm.cart.status}}</span>
                    </td>
                </tr>
                <tr class="hidden-xs">
                    <td colspan="2">
                        <span>Ngày mua hàng</span>
                    </td>
                    <td colspan="2">
                        <span class="pull-right">{{vm.cart.timeCreated | date: 'dd/MM/yyyy'}}</span>
                    </td>
                </tr>
                <tr class="hidden-xs">
                    <td colspan="2">
                        <span>Dự kiến giao hàng ngày</span>
                    </td>
                    <td colspan="2">
                        <span class="pull-right">{{vm.cart.lstCodPayment[0].shipDate | date: 'dd/MM/yyyy'}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div>
    <button class="btn bnt-sm btn-danger pull-right"
            ui-sref="home">
        Go to home page
    </button>
</div>
