
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCodPaymentLabel" data-translate="fashionApp.codPayment.home.createOrEditLabel">Create or edit a Cod Payment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.codPayment.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.codPayment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fashionApp.codPayment.shipDate" for="field_shipDate">Ship Date</label>
                <div class="input-group">
                    <input id="field_shipDate" type="text" class="form-control" name="shipDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.codPayment.shipDate" is-open="vm.datePickerOpenStatus.shipDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('shipDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fashionApp.codPayment.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.codPayment.status"
                    />
        </div>

        <div class="form-group">
            <label data-translate="fashionApp.codPayment.orders" for="field_orders">Orders</label>
            <select class="form-control" id="field_orders" name="orders" ng-model="vm.codPayment.orders" ng-options="orders as orders.id for orders in vm.orders track by orders.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
