<div class="container">
    <div>
        <form name="form">
            <div class="form-group row">
                <label class="control-label text-normal col-sm-2" for="orderCode">Mã đơn hàng:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="vm.codeOrder"
                           id="orderCode" ng-minlength=1 ng-maxlength=100
                           placeholder="Xin vui lòng nhập mã đơn hàng" name="orderCode" required>
                    <div ng-show="(form.orderCode.$touched || form.orderCode.$dirty) && form.orderCode.$invalid">
                        <p class="text-danger" ng-show="form.email.orderCode.required">
                            Mã đơn hàng không được để trống.
                        </p>
                        <p class="text-danger" ng-show="form.orderCode.$error.maxlength">
                            Mã đơn hàng của bạn không được quá 100 ký tự.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-sm btn-link btn-border"
                            ng-disabled="form.$invalid"
                            ng-click="vm.searchOrder()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="vm.cart === null && vm.isFinded">
        <i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;<span>Không đơn hàng có mã tương ứng. Bạn hãy vui lòng tìm kiếm với mã khác.</span>
    </div>
    <div ng-include="'/app/website/common/order.html'"></div>
</div>
