
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrderProductLabel" data-translate="fashionApp.orderProduct.home.createOrEditLabel">Create or edit a Order Product</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.orderProduct.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.orderProduct.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fashionApp.orderProduct.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.orderProduct.quantity"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fashionApp.orderProduct.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.orderProduct.price"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="fashionApp.orderProduct.sale" for="field_sale">Sale</label>
            <input type="number" class="form-control" name="sale" id="field_sale"
                    ng-model="vm.orderProduct.sale"
                    />
        </div>

        <div class="form-group">
            <label data-translate="fashionApp.orderProduct.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" ng-model="vm.orderProduct.product" ng-options="product as product.id for product in vm.products track by product.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="fashionApp.orderProduct.orders" for="field_orders">Orders</label>
            <select class="form-control" id="field_orders" name="orders" ng-model="vm.orderProduct.orders" ng-options="orders as orders.id for orders in vm.orders track by orders.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
