<div>
    <h2 data-translate="fashionApp.product.home.title">Products</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="product.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="fashionApp.product.home.createLabel">
                        Create new Product
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="fashionApp.product.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="manufacturer"><span data-translate="fashionApp.product.manufacturer">Manufacturer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="photo"><span data-translate="fashionApp.product.photo">Photo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span data-translate="fashionApp.product.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span data-translate="fashionApp.product.quantity">Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="currentSale"><span data-translate="fashionApp.product.currentSale">Current Sale</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fullTextPost"><span data-translate="fashionApp.product.fullTextPost">Full Text Post</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timeCreated"><span data-translate="fashionApp.product.timeCreated">Time Created</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category.id"><span data-translate="fashionApp.product.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products track by product.id">
                    <td><a ui-sref="product-detail({id:product.id})">{{product.id}}</a></td>
                    <td>{{product.name}}</td>
                    <td>{{product.manufacturer}}</td>
                    <td>{{product.photo}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.currentSale}}</td>
                    <td>{{product.fullTextPost}}</td>
                    <td>{{product.timeCreated | date:'medium'}}</td>
                    <td>
                        <a ui-sref="category-detail({id:product.category.id})">{{product.category.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="product-detail({id:product.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product.edit({id:product.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product.delete({id:product.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
